---
title: "Environmental Data Project"
author: "Megan Tieu"
date: "2025-04-21"
---

# Machine Learning Project

# Week one goals
- Create Github repository
- Connect it to Quarto Blog
- Find potential datasets
- Import data
- Preliminary data cleaning and preparing
- Create research questions that can be answered using data analysis, visualizations, and machine learning
- Figure out what tools and packages to be used

## GitHub Repository
[Here's a link to the GitHub repo](https://github.com/megaminding/machine_learning_research)



## Dataset
Before choosing a specific topic, I did data exploration for various datasets to see which would be the most interesting. I looked at:
- US Census https://github.com/zykls/folktablesLinks
- Covid19 - https://www.kaggle.com/imdevskp/covid-19-analysis-visualization-comparisons/dataLink 
- Uber: https://www.kaggle.com/datasets/yasserh/uber-fares-dataset
- NYC: https://data.cityofnewyork.us/browse?category=Transportation

## Environmental Data Analysis
- "How have land use, air quality, disasters, and climate variables changed over time? What factors are related to this?"
- Created an account with Public EM-DAT to access a global database on natural and technological disasters
- <img src="Screenshot 2025-04-22 at 12.25.46 PM.png" alt="User submitting message 'Happy Valentines Day' by user Megan Elizabeth Tieu"  height="300">
- Configured parameters to obtain custom dataset
- <img src="Screenshot 2025-04-21 at 6.21.45 PM.png" alt="User submitting message 'Happy Valentines Day' by user Megan Elizabeth Tieu"  height="300">

In [107]:
import pandas as pd

df = pd.read_excel("emdat.xlsx", engine="openpyxl")  

print(df.head())

          DisNo. Historic Classification Key Disaster Group Disaster Subgroup  \
0  1999-9388-DJI       No    nat-cli-dro-dro        Natural    Climatological
1  1999-9388-SDN       No    nat-cli-dro-dro        Natural    Climatological
2  1999-9388-SOM       No    nat-cli-dro-dro        Natural    Climatological
3  2000-0001-AGO       No    tec-tra-roa-roa  Technological         Transport
4  2000-0002-AGO       No    nat-hyd-flo-riv        Natural      Hydrological

  Disaster Type Disaster Subtype External IDs Event Name  ISO  ...  \
0       Drought          Drought          NaN        NaN  DJI  ...
1       Drought          Drought          NaN        NaN  SDN  ...
2       Drought          Drought          NaN        NaN  SOM  ...
3          Road             Road          NaN        NaN  AGO  ...
4         Flood   Riverine flood          NaN        NaN  AGO  ...

  Reconstruction Costs ('000 US$) Reconstruction Costs, Adjusted ('000 US$)  \
0                             NaN                                       NaN
1                             NaN                                       NaN
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN

  Insured Damage ('000 US$) Insured Damage, Adjusted ('000 US$)  \
0                       NaN                                 NaN
1                       NaN                                 NaN
2                       NaN                                 NaN
3                       NaN                                 NaN
4                       NaN                                 NaN

  Total Damage ('000 US$) Total Damage, Adjusted ('000 US$)        CPI  \
0                     NaN                               NaN  58.111474
1                     NaN                               NaN  56.514291
2                     NaN                               NaN  56.514291
3                     NaN                               NaN  56.514291
4                 10000.0                           17695.0  56.514291

                                         Admin Units  Entry Date  Last Update
0  [{"adm1_code":1093,"adm1_name":"Ali Sabieh"},{...  2006-03-01   2023-09-25
1  [{"adm1_code":2757,"adm1_name":"Northern Darfu...  2006-03-08   2023-09-25
2  [{"adm1_code":2691,"adm1_name":"Bay"},{"adm1_c...  2006-03-08   2023-09-25
3                                                NaN  2004-10-27   2023-09-25
4  [{"adm2_code":4214,"adm2_name":"Baia Farta"},{...  2005-02-03   2023-09-25

[5 rows x 46 columns]

Let's inspect the data

In [108]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     16209 non-null  object
 1   Historic                                   16209 non-null  object
 2   Classification Key                         16209 non-null  object
 3   Disaster Group                             16209 non-null  object
 4   Disaster Subgroup                          16209 non-null  object
 5   Disaster Type                              16209 non-null  object
 6   Disaster Subtype                           16209 non-null  object
 7   External IDs                               2709 non-null   object
 8   Event Name                                 5105 non-null   object
 9   ISO                                        16209 non-null  object
 10  Country                                    16209 non-null  object
 11  Subregion                                  16209 non-null  object
 12  Region                                     16209 non-null  object
 13  Location                                   15499 non-null  object
 14  Origin                                     4076 non-null   object
 15  Associated Types                           3438 non-null   object
 16  OFDA/BHA Response                          16209 non-null  object
 17  Appeal                                     16209 non-null  object
 18  Declaration                                16209 non-null  object
 19  AID Contribution ('000 US$)                489 non-null    float64
 20  Magnitude                                  3311 non-null   float64
 21  Magnitude Scale                            10137 non-null  object
 22  Latitude                                   1816 non-null   float64
 23  Longitude                                  1816 non-null   float64
 24  River Basin                                1233 non-null   object
 25  Start Year                                 16209 non-null  int64
 26  Start Month                                16140 non-null  float64
 27  Start Day                                  14638 non-null  float64
 28  End Year                                   16209 non-null  int64
 29  End Month                                  16046 non-null  float64
 30  End Day                                    14710 non-null  float64
 31  Total Deaths                               13039 non-null  float64
 32  No. Injured                                6019 non-null   float64
 33  No. Affected                               7503 non-null   float64
 34  No. Homeless                               1333 non-null   float64
 35  Total Affected                             12087 non-null  float64
 36  Reconstruction Costs ('000 US$)            33 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  33 non-null     float64
 38  Insured Damage ('000 US$)                  713 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        694 non-null    float64
 40  Total Damage ('000 US$)                    3237 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          3110 non-null   float64
 42  CPI                                        15527 non-null  float64
 43  Admin Units                                8416 non-null   object
 44  Entry Date                                 16209 non-null  object
 45  Last Update                                16209 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 5.7+ MB

,AID Contribution ('000 US$),Magnitude,Latitude,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,...,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
count,4.890000e+02,3.311000e+03,1816.000000,1816.000000,16209.000000,16140.000000,14638.000000,16209.000000,16046.000000,14710.000000,...,7.503000e+03,1.333000e+03,1.208700e+04,3.300000e+01,3.300000e+01,7.130000e+02,6.940000e+02,3.237000e+03,3.110000e+03,15527.000000
mean,2.855916e+04,6.122545e+04,16.415862,42.477620,2011.109816,6.463755,15.352849,2011.141156,6.592858,15.814276,...,6.280205e+05,3.162704e+04,3.939913e+05,5.687264e+06,6.357118e+06,1.347736e+06,1.699765e+06,1.178820e+06,1.478426e+06,72.858610
std,2.118956e+05,7.486415e+05,21.786044,75.523526,7.422845,3.413559,8.973253,7.425922,3.391621,8.891107,...,6.649927e+06,2.143536e+05,5.249462e+06,1.745232e+07,1.760343e+07,4.644761e+06,5.954430e+06,6.317104e+06,8.316465e+06,11.582942
min,3.000000e+00,-5.700000e+01,-72.640000,-172.095000,2000.000000,1.000000,1.000000,2000.000000,1.000000,1.000000,...,1.000000e+00,3.000000e+00,1.000000e+00,8.400000e+01,1.310000e+02,3.400000e+01,4.800000e+01,2.000000e+00,3.000000e+00,56.514291
25%,1.660000e+02,2.350000e+01,1.061500,1.676500,2005.000000,4.000000,7.000000,2005.000000,4.000000,8.000000,...,6.000000e+02,3.400000e+02,4.200000e+01,1.000000e+05,1.000000e+05,7.500000e+04,9.917050e+04,1.600000e+04,2.132325e+04,61.989586
50%,7.650000e+02,2.000000e+02,18.642500,55.574500,2010.000000,7.000000,15.000000,2010.000000,7.000000,16.000000,...,6.500000e+03,1.966000e+03,1.000000e+03,5.650000e+05,7.023360e+05,2.500000e+05,3.491245e+05,1.000000e+05,1.420280e+05,71.563596
75%,4.984000e+03,2.173700e+04,34.786750,103.235250,2018.000000,9.000000,23.000000,2018.000000,9.000000,24.000000,...,6.003500e+04,7.000000e+03,1.757050e+04,3.344000e+06,4.245383e+06,8.000000e+05,1.117445e+06,5.500000e+05,7.172402e+05,80.445779
max,3.518530e+06,4.000000e+07,67.930000,179.650000,2025.000000,12.000000,31.000000,2025.000000,12.000000,31.000000,...,3.300000e+08,5.000000e+06,3.300000e+08,1.000000e+08,1.000000e+08,6.000000e+07,9.361435e+07,2.100000e+08,2.844652e+08,100.000000

## Data Cleaning
Get rid of columns where the data is irrelevant or there's not enough of it for it to be interesting.

In [109]:
df.isna().sum().sort_values(ascending=False)

Reconstruction Costs, Adjusted ('000 US$)    16176
Reconstruction Costs ('000 US$)              16176
AID Contribution ('000 US$)                  15720
Insured Damage, Adjusted ('000 US$)          15515
Insured Damage ('000 US$)                    15496
River Basin                                  14976
No. Homeless                                 14876
Longitude                                    14393
Latitude                                     14393
External IDs                                 13500
Total Damage, Adjusted ('000 US$)            13099
Total Damage ('000 US$)                      12972
Magnitude                                    12898
Associated Types                             12771
Origin                                       12133
Event Name                                   11104
No. Injured                                  10190
No. Affected                                  8706
Admin Units                                   7793
Magnitude Scale                               6072
Total Affected                                4122
Total Deaths                                  3170
Start Day                                     1571
End Day                                       1499
Location                                       710
CPI                                            682
End Month                                      163
Start Month                                     69
Entry Date                                       0
DisNo.                                           0
End Year                                         0
Start Year                                       0
Historic                                         0
Declaration                                      0
Appeal                                           0
OFDA/BHA Response                                0
Region                                           0
Subregion                                        0
Country                                          0
ISO                                              0
Disaster Subtype                                 0
Disaster Type                                    0
Disaster Subgroup                                0
Disaster Group                                   0
Classification Key                               0
Last Update                                      0
dtype: int64

In [110]:
df = df.drop(columns=[ 'DisNo.', 'External IDs','Event Name', 'Origin','Associated Types','Appeal','Declaration','OFDA/BHA Response','AID Contribution (\'000 US$)',  'Reconstruction Costs (\'000 US$)','Reconstruction Costs, Adjusted (\'000 US$)','Insured Damage (\'000 US$)','Insured Damage, Adjusted (\'000 US$)','River Basin','Admin Units','Entry Date','Last Update'   ], errors='ignore')
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

Let's also get rid of data points if it's missing important variables we care about.

In [111]:
df = df.dropna(subset=['Country', 'Disaster Type', 'Start Year'])
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

Get rid of duplicates

In [112]:
df = df.drop_duplicates()
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

## Interesting Variables:
- Disaster Type           
- Location (country, region, longitude, latitude)
- Total Deaths, No. Affected, and No. Injured
- Time (start day, start month, etc.)
- Cost (Reconstruction Costs and Total Damage)

## Research Questions:

"Which countries have experienced the highest number of natural disasters in the past 25 years?" 
- We'll need to investigate variables on countries, when it occured, and type of disaster

"Are certain types of disasters becoming more common over time?" 
- We'll need to investigate variables on time, when it occured, and type of disaster
- Let's consider limitations with this dataset since it starts in 2000

"Can we predict the average number of deaths or affected people for an event based on disaster type and context?"
- We'll need to investigate variables on  Total Deaths, No. Affected, and No. Injured and type of disaster

"Can we experiment with data forecasting and predict the number of disasters a country might experience based on its historical trends and geography?" 
- We'll need to investigate variables on type of disaster, when it occured, and location
- We'll need to incorporate another dataset on geography

"Can we classify the severity of a disaster based on its type, location, and year?"
- We'll need to investigate variables on type, location, time, and severity

## Tools Needed
- For visualizations, matplotlib, geopanda, seaborn and plotly
- For machine learning, specifically forecasting, we can try Scikit-learn for regression or classification models or LSTM
- For classification, we can use it to identify patterns or relationships among disasters

## Let's get started on first research question
"Which countries have experienced the highest number of natural disasters?" 
- We'll need to investigate variables on countries, when it occured, and type of disaster

In [113]:
disaster_count_by_country_df = df.groupby(['Country']).agg(
    disaster_count=('Disaster Type', 'count')
).reset_index().sort_values(by='disaster_count', ascending=False)


disaster_count_by_country_df

                       Country  disaster_count
39                       China            1356
89                       India             820
212   United States of America             724
90                   Indonesia             565
152                Philippines             474
..                         ...             ...
5                     Anguilla               1
218  Wallis and Futuna Islands               1
164               Saint Helena               1
135       Netherlands Antilles               1
49                     Curaçao               1

[222 rows x 2 columns]

In [114]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default="iframe"

fig = px.scatter(
    disaster_count_by_country_df.query('disaster_count>=300'),
    x="Country",
    y="disaster_count",
    size="disaster_count",
    color="Country",
    hover_name="Country",
    log_y=True, 
    size_max=100,
    title="Number of Disaster Types by Country"
)

fig.show()

## Analysis of first research question
From this visualization, we can see that India, China, and the USA have experienced the highest number of natural disasters. This is likely due to their large size, which means that there is more surface area taken into account. Surprising countries are the ones that are smaller but still have faced many natural disasters, such as the Philippines and Nigeria.

# Week two goals
- Answer research question "Are certain types of disasters becoming more common over time?" using visualization and data analysis
- Create a visualization to explore relationship between total deaths and occurence count for each disaster subtype
- Create an Interactive Map Visualization on Devastating Disasters Around the World
- Consider other APIs or Datasets to use that are related to the EM-DAT data but also offer something new and interesting

## Let's get started on the second research question
"Are certain types of disasters becoming more common over time?" 

- We'll need to investigate variables on time, when it occured, and type of disaster

- Let's consider limitations with this dataset since it starts in 2000

In [115]:
disaster_counts = df.groupby(['Start Year', 'Disaster Type']).size().reset_index(name='Count')

disaster_counts

     Start Year             Disaster Type  Count
0          2000                       Air     31
1          2000            Chemical spill      3
2          2000     Collapse (Industrial)      3
3          2000  Collapse (Miscellaneous)     11
4          2000                   Drought     27
..          ...                       ...    ...
609        2025                      Rail      1
610        2025                      Road     19
611        2025                     Storm     26
612        2025                     Water      4
613        2025                  Wildfire      8

[614 rows x 3 columns]

In [116]:
fig = px.line(
    disaster_counts,
    x='Start Year',
    y='Count',
    color='Disaster Type',  
    title='Disaster Types Over Time',
    labels={'Year': 'Year', 'Count': 'Number of Disasters'},
)

fig.show()

## Analysis of second research question
From this visualization, we can see that it is difficult to answer if there are certain types of disasters becoming more common over time. This is because of our limited data set that starts in the year 2000. To answer, this question, we would need to find data that dates back far enough to see a difference in the frequency of certain disaster types.

## Visualization to explore relationship between total deaths and occurence count for each disaster subtype

In [117]:
scatter_data = df.groupby('Disaster Subtype').agg(
    total_deaths=('Total Deaths', 'sum'),
    occurrence_count=('Disaster Subtype', 'count')
).reset_index()

scatter_data

               Disaster Subtype  total_deaths  occurrence_count
0                           Air       17267.0               439
1               Animal incident          12.0                 1
2                      Ash fall         663.0               102
3               Avalanche (dry)          16.0                 1
4               Avalanche (wet)        1889.0                54
..                          ...           ...               ...
58                Viral disease       47825.0               350
59  Volcanic activity (General)         516.0                11
60                        Water       51946.0              1149
61           Wildfire (General)         702.0                85
62            Worms infestation           0.0                 2

[63 rows x 3 columns]

In [118]:
fig = px.scatter(
    scatter_data,
    x='Disaster Subtype',
    y='total_deaths',
    size='occurrence_count',    
    color='Disaster Subtype',     
    title='Disaster Subtypes: Total Deaths vs. Occurrence Count',
    labels={
        'disaster_subtype': 'Disaster Subtype',
        'total_deaths': 'Total Deaths'
    },
)



fig.show()

## Analysis of scatterplot visualization
We can see that Ground Movement is an outlier and has the highest number of deaths at around 550k. In terms of disaster subtypes with the largest occurence count, we can notice Road, Riverine Flood, Flood, Water, and Tropical Cyclone. We can see that most of these are natural with the exception of Road.

## Map Visualization on Devastating Disasters Around the World

In [119]:
map_df = df[(df['Latitude'].notna()) & (df['Longitude'].notna())]

map_df['Total Deaths'] = map_df['Total Deaths'].fillna(0)

map_df = map_df[(map_df['Total Deaths'] > 0)]

map_df

/var/folders/h6/1nj6sx2s1nxdyfr36bhcxvlc0000gn/T/ipykernel_77005/904054904.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
33,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,14.0,7.0,2528.0,1760000.0,92479.0,1855007.0,73500.0,130056.0,56.514291
36,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,26.0,1.0,2.0,10300.0,NaN,10302.0,483.0,855.0,56.514291
50,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IRN,Iran (Islamic Republic of),Southern Asia,Asia,...,2.0,2.0,1.0,15.0,1500.0,500.0,2015.0,NaN,NaN,56.514291
75,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,COL,Colombia,Latin America and the Caribbean,Americas,...,11.0,8.0,2.0,NaN,430.0,NaN,430.0,NaN,NaN,56.514291
208,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,5.0,4.0,45.0,270.0,NaN,52500.0,52770.0,30000.0,53084.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16091,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,7.0,126.0,188.0,46500.0,NaN,46688.0,NaN,NaN,NaN
16099,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,ETH,Ethiopia,Sub-Saharan Africa,Africa,...,1.0,11.0,2.0,NaN,99000.0,NaN,99000.0,NaN,NaN,NaN
16184,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,MMR,Myanmar,South-eastern Asia,Asia,...,3.0,28.0,3784.0,4824.0,282790.0,NaN,287614.0,NaN,NaN,NaN
16185,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,THA,Thailand,South-eastern Asia,Asia,...,3.0,28.0,44.0,37.0,2313.0,NaN,2350.0,NaN,NaN,NaN
16196,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,TJK,Tajikistan,Central Asia,Asia,...,4.0,13.0,1.0,NaN,145.0,NaN,145.0,NaN,NaN,NaN

In [120]:
fig = px.scatter_geo(
    map_df,
    lat='Latitude',
    lon='Longitude',
    color='Disaster Subtype',
    size='Total Deaths',  
    hover_name='Country',
    title='Global Disasters Map',
    size_max=30,
)

fig.update_layout(
    geo=dict(
        showland=True,
        showcountries=True
    )
)

fig.show()

## Analysis of Map Visualization
Here, we can see that Haiti experienced a Ground Movement disaster that resulted in a huge amount of deaths. We also see that Indonesia has deathly tsunamis. China, Kazakhstan, and Russia face a lot of floods that have caused a large loss of lives.