---
title: "Environmental Data Project"
author: "Megan Tieu"
date: "2025-04-21"
---

# Machine Learning Project

# Week one goals
- Create Github repository
- Connect it to Quarto Blog
- Find potential datasets
- Import data
- Preliminary data cleaning and preparing
- Create research questions that can be answered using data analysis, visualizations, and machine learning
- Figure out what tools and packages to be used

## GitHub Repository
[Here's a link to the GitHub repo](https://github.com/megaminding/machine_learning_research)



## Dataset
Before choosing a specific topic, I did data exploration for various datasets to see which would be the most interesting. I looked at:
- US Census https://github.com/zykls/folktablesLinks
- Covid19 - https://www.kaggle.com/imdevskp/covid-19-analysis-visualization-comparisons/dataLink 
- Uber: https://www.kaggle.com/datasets/yasserh/uber-fares-dataset
- NYC: https://data.cityofnewyork.us/browse?category=Transportation

## Environmental Data Analysis
- "How have land use, air quality, disasters, and climate variables changed over time? What factors are related to this?"
- Created an account with Public EM-DAT to access a global database on natural and technological disasters
- <img src="Screenshot 2025-04-22 at 12.25.46 PM.png" alt="User submitting message 'Happy Valentines Day' by user Megan Elizabeth Tieu"  height="300">
- Configured parameters to obtain custom dataset
- <img src="Screenshot 2025-04-21 at 6.21.45 PM.png" alt="User submitting message 'Happy Valentines Day' by user Megan Elizabeth Tieu"  height="300">

In [52]:
import pandas as pd

df = pd.read_excel("emdat.xlsx", engine="openpyxl")  

print(df.head())

          DisNo. Historic Classification Key Disaster Group Disaster Subgroup  \
0  1999-9388-DJI       No    nat-cli-dro-dro        Natural    Climatological
1  1999-9388-SDN       No    nat-cli-dro-dro        Natural    Climatological
2  1999-9388-SOM       No    nat-cli-dro-dro        Natural    Climatological
3  2000-0001-AGO       No    tec-tra-roa-roa  Technological         Transport
4  2000-0002-AGO       No    nat-hyd-flo-riv        Natural      Hydrological

  Disaster Type Disaster Subtype External IDs Event Name  ISO  ...  \
0       Drought          Drought          NaN        NaN  DJI  ...
1       Drought          Drought          NaN        NaN  SDN  ...
2       Drought          Drought          NaN        NaN  SOM  ...
3          Road             Road          NaN        NaN  AGO  ...
4         Flood   Riverine flood          NaN        NaN  AGO  ...

  Reconstruction Costs ('000 US$) Reconstruction Costs, Adjusted ('000 US$)  \
0                             NaN                                       NaN
1                             NaN                                       NaN
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN

  Insured Damage ('000 US$) Insured Damage, Adjusted ('000 US$)  \
0                       NaN                                 NaN
1                       NaN                                 NaN
2                       NaN                                 NaN
3                       NaN                                 NaN
4                       NaN                                 NaN

  Total Damage ('000 US$) Total Damage, Adjusted ('000 US$)        CPI  \
0                     NaN                               NaN  58.111474
1                     NaN                               NaN  56.514291
2                     NaN                               NaN  56.514291
3                     NaN                               NaN  56.514291
4                 10000.0                           17695.0  56.514291

                                         Admin Units  Entry Date  Last Update
0  [{"adm1_code":1093,"adm1_name":"Ali Sabieh"},{...  2006-03-01   2023-09-25
1  [{"adm1_code":2757,"adm1_name":"Northern Darfu...  2006-03-08   2023-09-25
2  [{"adm1_code":2691,"adm1_name":"Bay"},{"adm1_c...  2006-03-08   2023-09-25
3                                                NaN  2004-10-27   2023-09-25
4  [{"adm2_code":4214,"adm2_name":"Baia Farta"},{...  2005-02-03   2023-09-25

[5 rows x 46 columns]

Let's inspect the data

In [53]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     16209 non-null  object
 1   Historic                                   16209 non-null  object
 2   Classification Key                         16209 non-null  object
 3   Disaster Group                             16209 non-null  object
 4   Disaster Subgroup                          16209 non-null  object
 5   Disaster Type                              16209 non-null  object
 6   Disaster Subtype                           16209 non-null  object
 7   External IDs                               2709 non-null   object
 8   Event Name                                 5105 non-null   object
 9   ISO                                        16209 non-null  object
 10  Country                                    16209 non-null  object
 11  Subregion                                  16209 non-null  object
 12  Region                                     16209 non-null  object
 13  Location                                   15499 non-null  object
 14  Origin                                     4076 non-null   object
 15  Associated Types                           3438 non-null   object
 16  OFDA/BHA Response                          16209 non-null  object
 17  Appeal                                     16209 non-null  object
 18  Declaration                                16209 non-null  object
 19  AID Contribution ('000 US$)                489 non-null    float64
 20  Magnitude                                  3311 non-null   float64
 21  Magnitude Scale                            10137 non-null  object
 22  Latitude                                   1816 non-null   float64
 23  Longitude                                  1816 non-null   float64
 24  River Basin                                1233 non-null   object
 25  Start Year                                 16209 non-null  int64
 26  Start Month                                16140 non-null  float64
 27  Start Day                                  14638 non-null  float64
 28  End Year                                   16209 non-null  int64
 29  End Month                                  16046 non-null  float64
 30  End Day                                    14710 non-null  float64
 31  Total Deaths                               13039 non-null  float64
 32  No. Injured                                6019 non-null   float64
 33  No. Affected                               7503 non-null   float64
 34  No. Homeless                               1333 non-null   float64
 35  Total Affected                             12087 non-null  float64
 36  Reconstruction Costs ('000 US$)            33 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  33 non-null     float64
 38  Insured Damage ('000 US$)                  713 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        694 non-null    float64
 40  Total Damage ('000 US$)                    3237 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          3110 non-null   float64
 42  CPI                                        15527 non-null  float64
 43  Admin Units                                8416 non-null   object
 44  Entry Date                                 16209 non-null  object
 45  Last Update                                16209 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 5.7+ MB

,AID Contribution ('000 US$),Magnitude,Latitude,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,...,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
count,4.890000e+02,3.311000e+03,1816.000000,1816.000000,16209.000000,16140.000000,14638.000000,16209.000000,16046.000000,14710.000000,...,7.503000e+03,1.333000e+03,1.208700e+04,3.300000e+01,3.300000e+01,7.130000e+02,6.940000e+02,3.237000e+03,3.110000e+03,15527.000000
mean,2.855916e+04,6.122545e+04,16.415862,42.477620,2011.109816,6.463755,15.352849,2011.141156,6.592858,15.814276,...,6.280205e+05,3.162704e+04,3.939913e+05,5.687264e+06,6.357118e+06,1.347736e+06,1.699765e+06,1.178820e+06,1.478426e+06,72.858610
std,2.118956e+05,7.486415e+05,21.786044,75.523526,7.422845,3.413559,8.973253,7.425922,3.391621,8.891107,...,6.649927e+06,2.143536e+05,5.249462e+06,1.745232e+07,1.760343e+07,4.644761e+06,5.954430e+06,6.317104e+06,8.316465e+06,11.582942
min,3.000000e+00,-5.700000e+01,-72.640000,-172.095000,2000.000000,1.000000,1.000000,2000.000000,1.000000,1.000000,...,1.000000e+00,3.000000e+00,1.000000e+00,8.400000e+01,1.310000e+02,3.400000e+01,4.800000e+01,2.000000e+00,3.000000e+00,56.514291
25%,1.660000e+02,2.350000e+01,1.061500,1.676500,2005.000000,4.000000,7.000000,2005.000000,4.000000,8.000000,...,6.000000e+02,3.400000e+02,4.200000e+01,1.000000e+05,1.000000e+05,7.500000e+04,9.917050e+04,1.600000e+04,2.132325e+04,61.989586
50%,7.650000e+02,2.000000e+02,18.642500,55.574500,2010.000000,7.000000,15.000000,2010.000000,7.000000,16.000000,...,6.500000e+03,1.966000e+03,1.000000e+03,5.650000e+05,7.023360e+05,2.500000e+05,3.491245e+05,1.000000e+05,1.420280e+05,71.563596
75%,4.984000e+03,2.173700e+04,34.786750,103.235250,2018.000000,9.000000,23.000000,2018.000000,9.000000,24.000000,...,6.003500e+04,7.000000e+03,1.757050e+04,3.344000e+06,4.245383e+06,8.000000e+05,1.117445e+06,5.500000e+05,7.172402e+05,80.445779
max,3.518530e+06,4.000000e+07,67.930000,179.650000,2025.000000,12.000000,31.000000,2025.000000,12.000000,31.000000,...,3.300000e+08,5.000000e+06,3.300000e+08,1.000000e+08,1.000000e+08,6.000000e+07,9.361435e+07,2.100000e+08,2.844652e+08,100.000000

## Data Cleaning
Get rid of columns where the data is irrelevant or there's not enough of it for it to be interesting.

In [54]:
df.isna().sum().sort_values(ascending=False)

Reconstruction Costs, Adjusted ('000 US$)    16176
Reconstruction Costs ('000 US$)              16176
AID Contribution ('000 US$)                  15720
Insured Damage, Adjusted ('000 US$)          15515
Insured Damage ('000 US$)                    15496
River Basin                                  14976
No. Homeless                                 14876
Longitude                                    14393
Latitude                                     14393
External IDs                                 13500
Total Damage, Adjusted ('000 US$)            13099
Total Damage ('000 US$)                      12972
Magnitude                                    12898
Associated Types                             12771
Origin                                       12133
Event Name                                   11104
No. Injured                                  10190
No. Affected                                  8706
Admin Units                                   7793
Magnitude Scale                               6072
Total Affected                                4122
Total Deaths                                  3170
Start Day                                     1571
End Day                                       1499
Location                                       710
CPI                                            682
End Month                                      163
Start Month                                     69
Entry Date                                       0
DisNo.                                           0
End Year                                         0
Start Year                                       0
Historic                                         0
Declaration                                      0
Appeal                                           0
OFDA/BHA Response                                0
Region                                           0
Subregion                                        0
Country                                          0
ISO                                              0
Disaster Subtype                                 0
Disaster Type                                    0
Disaster Subgroup                                0
Disaster Group                                   0
Classification Key                               0
Last Update                                      0
dtype: int64

In [55]:
df = df.drop(columns=[ 'DisNo.', 'External IDs','Event Name', 'Origin','Associated Types','Appeal','Declaration','OFDA/BHA Response','AID Contribution (\'000 US$)',  'Reconstruction Costs (\'000 US$)','Reconstruction Costs, Adjusted (\'000 US$)','Insured Damage (\'000 US$)','Insured Damage, Adjusted (\'000 US$)','River Basin','Admin Units','Entry Date','Last Update'   ], errors='ignore')
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

Let's also get rid of data points if it's missing important variables we care about.

In [56]:
df = df.dropna(subset=['Country', 'Disaster Type', 'Start Year'])
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

Get rid of duplicates

In [57]:
df = df.drop_duplicates()
df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
0,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,DJI,Djibouti,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,58.111474
1,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SDN,Sudan,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,56.514291
2,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,56.514291
3,No,tec-tra-roa-roa,Technological,Transport,Road,Road,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,56.514291
4,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,AGO,Angola,Sub-Saharan Africa,Africa,...,1.0,15.0,31.0,NaN,70000.0,NaN,70000.0,10000.0,17695.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204,No,tec-tra-roa-roa,Technological,Transport,Road,Road,BRA,Brazil,Latin America and the Caribbean,Americas,...,4.0,8.0,10.0,18.0,NaN,NaN,18.0,NaN,NaN,NaN
16205,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),CHN,China,Eastern Asia,Asia,...,4.0,8.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16206,No,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm,IRQ,Iraq,Western Asia,Asia,...,4.0,14.0,NaN,2751.0,NaN,NaN,2751.0,NaN,NaN,NaN
16207,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),SPI,Canary Islands,Northern Africa,Africa,...,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16208,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,SOM,Somalia,Sub-Saharan Africa,Africa,...,NaN,NaN,NaN,NaN,4400000.0,NaN,4400000.0,NaN,NaN,NaN

## Interesting Variables:
- Disaster Type           
- Location (country, region, longitude, latitude)
- Total Deaths, No. Affected, and No. Injured
- Time (start day, start month, etc.)
- Cost (Reconstruction Costs and Total Damage)

## Research Questions:

1. "Which countries have experienced the highest number of natural disasters in the past 25 years?" 
- We'll need to investigate variables on countries, when it occured, and type of disaster

2. "Are certain types of disasters becoming more common over time?" 
- We'll need to investigate variables on time, when it occured, and type of disaster
- Let's consider limitations with this dataset since it starts in 2000

3. "Can we predict the average number of deaths or affected people for an event based on disaster type and context?"
- We'll need to investigate variables on  Total Deaths, No. Affected, and No. Injured and type of disaster

4. "Can we experiment with data forecasting and predict the number of disasters a country might experience based on its historical trends and geography?" 
- We'll need to investigate variables on type of disaster, when it occured, and location
- We'll need to incorporate another dataset on geography

5. "Can we classify the severity of a disaster based on its type, location, and year?"
- We'll need to investigate variables on type, location, time, and severity

## Tools Needed
- For visualizations, matplotlib, geopanda, seaborn and plotly
- For machine learning, specifically forecasting, we can try Scikit-learn for regression or classification models or LSTM
- For classification, we can use it to identify patterns or relationships among disasters

## Let's get started on first research question
1. "Which countries have experienced the highest number of natural disasters?" 
- We'll need to investigate variables on countries, when it occured, and type of disaster

In [58]:
disaster_count_by_country_df = df.groupby(['Country']).agg(
    disaster_count=('Disaster Type', 'count')
).reset_index().sort_values(by='disaster_count', ascending=False)


disaster_count_by_country_df

                       Country  disaster_count
39                       China            1356
89                       India             820
212   United States of America             724
90                   Indonesia             565
152                Philippines             474
..                         ...             ...
5                     Anguilla               1
218  Wallis and Futuna Islands               1
164               Saint Helena               1
135       Netherlands Antilles               1
49                     Curaçao               1

[222 rows x 2 columns]

In [59]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default="iframe"

fig = px.scatter(
    disaster_count_by_country_df.query('disaster_count>=300'),
    x="Country",
    y="disaster_count",
    size="disaster_count",
    color="Country",
    hover_name="Country",
    log_y=True, 
    size_max=100,
    title="Number of Disaster Types by Country"
)

fig.show()

## Analysis of first research question
From this visualization, we can see that India, China, and the USA have experienced the highest number of natural disasters. This is likely due to their large size, which means that there is more surface area taken into account. Surprising countries are the ones that are smaller but still have faced many natural disasters, such as the Philippines and Nigeria.

# Week two goals
- Answer research question 2. "Are certain types of disasters becoming more common over time?" using visualization and data analysis
- Create a visualization to explore relationship between total deaths and occurence count for each disaster subtype
- Create an Interactive Map Visualization on Devastating Disasters Around the World
- Consider other APIs or Datasets to use that are related to the EM-DAT data but also offer something new and interesting

## Let's get started on the second research question
2. "Are certain types of disasters becoming more common over time?" 

- We'll need to investigate variables on time, when it occured, and type of disaster

- Let's consider limitations with this dataset since it starts in 2000

In [60]:
disaster_counts = df.groupby(['Start Year', 'Disaster Type']).size().reset_index(name='Count')

disaster_counts

     Start Year             Disaster Type  Count
0          2000                       Air     31
1          2000            Chemical spill      3
2          2000     Collapse (Industrial)      3
3          2000  Collapse (Miscellaneous)     11
4          2000                   Drought     27
..          ...                       ...    ...
609        2025                      Rail      1
610        2025                      Road     19
611        2025                     Storm     26
612        2025                     Water      4
613        2025                  Wildfire      8

[614 rows x 3 columns]

In [61]:
fig = px.line(
    disaster_counts,
    x='Start Year',
    y='Count',
    color='Disaster Type',  
    title='Disaster Types Over Time',
    labels={'Year': 'Year', 'Count': 'Number of Disasters'},
)

fig.show()

## Analysis of second research question
From this visualization, we can see that it is difficult to answer if there are certain types of disasters becoming more common over time. This is because of our limited data set that starts in the year 2000. To answer, this question, we would need to find data that dates back far enough to see a difference in the frequency of certain disaster types.

## Visualization to explore relationship between total deaths and occurence count for each disaster subtype

In [62]:
scatter_data = df.groupby('Disaster Subtype').agg(
    total_deaths=('Total Deaths', 'sum'),
    occurrence_count=('Disaster Subtype', 'count')
).reset_index()

scatter_data

               Disaster Subtype  total_deaths  occurrence_count
0                           Air       17267.0               439
1               Animal incident          12.0                 1
2                      Ash fall         663.0               102
3               Avalanche (dry)          16.0                 1
4               Avalanche (wet)        1889.0                54
..                          ...           ...               ...
58                Viral disease       47825.0               350
59  Volcanic activity (General)         516.0                11
60                        Water       51946.0              1149
61           Wildfire (General)         702.0                85
62            Worms infestation           0.0                 2

[63 rows x 3 columns]

In [63]:
fig = px.scatter(
    scatter_data,
    x='Disaster Subtype',
    y='total_deaths',
    size='occurrence_count',    
    color='Disaster Subtype',     
    title='Disaster Subtypes: Total Deaths vs. Occurrence Count',
    labels={
        'disaster_subtype': 'Disaster Subtype',
        'total_deaths': 'Total Deaths'
    },
)



fig.show()

## Analysis of scatterplot visualization
We can see that Ground Movement is an outlier and has the highest number of deaths at around 550k. In terms of disaster subtypes with the largest occurence count, we can notice Road, Riverine Flood, Flood, Water, and Tropical Cyclone. We can see that most of these are natural with the exception of Road.

## Map Visualization on Devastating Disasters Around the World

In [64]:
map_df = df[(df['Latitude'].notna()) & (df['Longitude'].notna())]

map_df['Total Deaths'] = map_df['Total Deaths'].fillna(0)

map_df = map_df[(map_df['Total Deaths'] > 0)]

map_df

/var/folders/h6/1nj6sx2s1nxdyfr36bhcxvlc0000gn/T/ipykernel_51599/904054904.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
33,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,14.0,7.0,2528.0,1760000.0,92479.0,1855007.0,73500.0,130056.0,56.514291
36,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,26.0,1.0,2.0,10300.0,NaN,10302.0,483.0,855.0,56.514291
50,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IRN,Iran (Islamic Republic of),Southern Asia,Asia,...,2.0,2.0,1.0,15.0,1500.0,500.0,2015.0,NaN,NaN,56.514291
75,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,COL,Colombia,Latin America and the Caribbean,Americas,...,11.0,8.0,2.0,NaN,430.0,NaN,430.0,NaN,NaN,56.514291
208,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,5.0,4.0,45.0,270.0,NaN,52500.0,52770.0,30000.0,53084.0,56.514291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16091,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,7.0,126.0,188.0,46500.0,NaN,46688.0,NaN,NaN,NaN
16099,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,ETH,Ethiopia,Sub-Saharan Africa,Africa,...,1.0,11.0,2.0,NaN,99000.0,NaN,99000.0,NaN,NaN,NaN
16184,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,MMR,Myanmar,South-eastern Asia,Asia,...,3.0,28.0,3784.0,4824.0,282790.0,NaN,287614.0,NaN,NaN,NaN
16185,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,THA,Thailand,South-eastern Asia,Asia,...,3.0,28.0,44.0,37.0,2313.0,NaN,2350.0,NaN,NaN,NaN
16196,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,TJK,Tajikistan,Central Asia,Asia,...,4.0,13.0,1.0,NaN,145.0,NaN,145.0,NaN,NaN,NaN

In [65]:
fig = px.scatter_geo(
    map_df,
    lat='Latitude',
    lon='Longitude',
    color='Disaster Subtype',
    size='Total Deaths',  
    hover_name='Country',
    title='Global Disasters Map',
    size_max=30,
)

fig.update_layout(
    geo=dict(
        showland=True,
        showcountries=True
    )
)

fig.show()

## Analysis of Map Visualization
Here, we can see that Haiti experienced a Ground Movement disaster that resulted in a huge amount of deaths. We also see that Indonesia has deathly tsunamis. China, Kazakhstan, and Russia face a lot of floods that have caused a large loss of lives.

# Week four goals
- Respond to questions from research professor prior week 
- Find interesting environmental API
- Obtain API key by creating an account and adding credit card information to subscribe
- Testing the API with a simple query
- Using the API with interesting parameters
- Creating a visualization based on the API

## Responding to questions from research professor prior week 
- “This is likely due to their large size, which means that there is more surface area taken into account.”
-> Would it be possible to apply some normalization techniques to account for differences in country size? -> answer: Great idea! We could try to find another data source that contains the country size and use data techniques to merge it together. Once we've prepared the data, we can perform normalization techniques by dividing the number of natural disasters with the corresponding country's size. We can try doing this during week 5 when we incorporate SQL. 
- Would you consider numbering the research questions with bullet points to make them easier to reference?  -> Yes, I'll go back and adjust them! This is a great piece of advice
- Clarifying question "dataset spans from 2000 to 2025—is that right?" -> answer: Yes, this dataset spans 25 years starting from 2000. Even though there exists data before 2000, according to the data source, "Pre-2000 data is particularly subject to reporting biases."
- Regarding visualizations and figures: Could you ensure consistency in how parameters are represented? For example, if size represents occurrence or death, it would be helpful to maintain that convention across all figures. -> answer: Yes, this is a helpful piece of advice but the reason for the inconsistency in how parameters are represented is due to how these visualizations were more so for exploratory purposes to better understand the data. I'll keep this advice in mind and ensure consistency in how parameters are represented for the final report.

## Air Pollution Dataset Using API
Our data source is called Open Weather Map. I made an account with them and verified my email address to obtain the API key. According to the website, "the Air Pollution API provides current, forecast and historical air pollution data for any coordinates on the globe. Besides basic Air Quality Index, the API returns data about polluting gases, such as Carbon monoxide (CO), Nitrogen monoxide (NO), Nitrogen dioxide (NO2), Ozone (O3), Sulphur dioxide (SO2), Ammonia (NH3), and particulates (PM2.5 and PM10). Air pollution forecast is available for 4 days with hourly granularity. Historical data is accessible from 27th November 2020."

- <img src="Screenshot 2025-05-12 at 10.00.38 PM.png" alt="Image of a description of OpenWeather scale for Air Quality Index levels:"  height="300">

In [66]:
import requests

API_KEY = "dc622205c25e4f765124ba4c03f370ba"
LAT = 35.6764
LON = 139.6500

url = f"http://api.openweathermap.org/data/2.5/air_pollution"
params = {
    "lat": LAT,
    "lon": LON,
    "appid": API_KEY
}

response = requests.get(url, params=params)
data = response.json()

print("Air Quality Index (AQI):", data['list'][0]['main']['aqi'])
print("Components (μg/m³):", data['list'][0]['components'])

Air Quality Index (AQI): 3
Components (μg/m³): {'co': 259.78, 'no': 0, 'no2': 2.49, 'o3': 125.97, 'so2': 2.36, 'pm2_5': 27.56, 'pm10': 33.59, 'nh3': 0}

## Air Quality History
The above code is testing the usage of the API. I looked up the coordinates of Tokyo and plugged that in to obtain the Air Quality Index. I received a value of 2. Now let's trying using the API to obtain the Air Quality History.

In [67]:
import requests
import pandas as pd
from datetime import datetime

API_KEY = "dc622205c25e4f765124ba4c03f370ba"
LAT = 35.6764
LON = 139.6500

start = int(datetime(2025, 1, 1).timestamp())
end = int(datetime(2025, 1, 6).timestamp())  

url = "http://api.openweathermap.org/data/2.5/air_pollution/history"
params = {
    "lat": LAT,
    "lon": LON,
    "start": start,
    "end": end,
    "appid": API_KEY
}

response = requests.get(url, params=params)
data = response.json()

records = []
for entry in data.get("list", []):
    ts = datetime.fromtimestamp(entry["dt"])
    aqi = entry["main"]["aqi"]
    components = entry["components"]
    components["timestamp"] = ts
    components["aqi"] = aqi
    records.append(components)

df = pd.DataFrame(records)
df.set_index("timestamp", inplace=True)

print(df)

                         co      no     no2     o3    so2  pm2_5   pm10   nh3  \
timestamp
2025-01-01 00:00:00  333.79    0.00   26.73  57.22  19.07   0.86   2.03  1.03
2025-01-01 01:00:00  323.77    0.00   23.65  59.37  16.45   0.72   1.90  0.95
2025-01-01 02:00:00  317.10    0.00   22.62  60.80  15.74   0.65   1.91  0.90
2025-01-01 03:00:00  317.10    0.00   23.31  61.51  16.21   0.67   2.04  0.89
2025-01-01 04:00:00  323.77    0.00   24.68  60.80  17.40   0.72   2.18  0.93
...                     ...     ...     ...    ...    ...    ...    ...   ...
2025-01-05 20:00:00  834.47  236.03  126.12   0.00  72.48  22.26  31.77  3.96
2025-01-05 21:00:00  741.00  189.54  116.53   0.00  58.65  20.81  28.91  3.64
2025-01-05 22:00:00  554.08   98.35   98.71   0.00  47.21  16.70  22.60  2.94
2025-01-05 23:00:00  500.68   75.10   89.11   0.00  40.53  16.16  21.01  2.28
2025-01-06 00:00:00  480.65   64.37   84.31   0.00  31.47  16.41  20.80  1.63

                     aqi
timestamp
2025-01-01 00:00:00    1
2025-01-01 01:00:00    1
2025-01-01 02:00:00    2
2025-01-01 03:00:00    2
2025-01-01 04:00:00    2
...                  ...
2025-01-05 20:00:00    3
2025-01-05 21:00:00    3
2025-01-05 22:00:00    3
2025-01-05 23:00:00    3
2025-01-06 00:00:00    3

[121 rows x 9 columns]

Now that we have our history of the air quality over the past five days at the start of 2025, we can try to categorize it based on https://www.iaqdetectors.com/blogs/what-is-air-quality-index-uba-standardhttps://www.iaqdetectors.com/blogs/what-is-air-quality-index-uba-standard, which says:
Level 1: Excellent Air Quality. AQI Range: 1 (Green)
Level 2: Good Air Quality. AQI Range: 2 (Green)
Level 3: Moderate Air Quality. AQI Range: 3 (Yellow) 
Level 4: Poor Air Quality. AQI Range: 4 (Orange)
Level 5: Very Poor Air Quality. AQI Range: 5 (Red or Purple)

## Categorizing Air Quality

In [68]:
def categorize_aqi(aqi):
    if aqi == 1:
        return "Excellent"
    elif aqi == 2:
        return "Good"
    elif aqi == 3:
        return "Moderate"
    elif aqi == 4:
        return "Poor"
    else:
        return "Very Poor"

df["risk_level"] = df["aqi"].apply(categorize_aqi)

print(df)

                         co      no     no2     o3    so2  pm2_5   pm10   nh3  \
timestamp
2025-01-01 00:00:00  333.79    0.00   26.73  57.22  19.07   0.86   2.03  1.03
2025-01-01 01:00:00  323.77    0.00   23.65  59.37  16.45   0.72   1.90  0.95
2025-01-01 02:00:00  317.10    0.00   22.62  60.80  15.74   0.65   1.91  0.90
2025-01-01 03:00:00  317.10    0.00   23.31  61.51  16.21   0.67   2.04  0.89
2025-01-01 04:00:00  323.77    0.00   24.68  60.80  17.40   0.72   2.18  0.93
...                     ...     ...     ...    ...    ...    ...    ...   ...
2025-01-05 20:00:00  834.47  236.03  126.12   0.00  72.48  22.26  31.77  3.96
2025-01-05 21:00:00  741.00  189.54  116.53   0.00  58.65  20.81  28.91  3.64
2025-01-05 22:00:00  554.08   98.35   98.71   0.00  47.21  16.70  22.60  2.94
2025-01-05 23:00:00  500.68   75.10   89.11   0.00  40.53  16.16  21.01  2.28
2025-01-06 00:00:00  480.65   64.37   84.31   0.00  31.47  16.41  20.80  1.63

                     aqi risk_level
timestamp
2025-01-01 00:00:00    1  Excellent
2025-01-01 01:00:00    1  Excellent
2025-01-01 02:00:00    2       Good
2025-01-01 03:00:00    2       Good
2025-01-01 04:00:00    2       Good
...                  ...        ...
2025-01-05 20:00:00    3   Moderate
2025-01-05 21:00:00    3   Moderate
2025-01-05 22:00:00    3   Moderate
2025-01-05 23:00:00    3   Moderate
2025-01-06 00:00:00    3   Moderate

[121 rows x 10 columns]

## Line graph on Air Quality
After, we can visualize the data over the 5 day period!

In [69]:
def AQI_Plot(df, start, end, location):
    fig = px.line(df, x=df.index, y="aqi", title=f"Air Quality Index (AQI) in {location} from {start} to {end}",
              labels={"AQI": "AQI", "timestamp": "Date"})

    fig.update_traces(line=dict(color='blue'))
    fig.update_layout(yaxis_title="AQI", xaxis_title="Date")

    fig.show()
AQI_Plot(df, "2025-01-01" ,"2025-01-06", "Tokyo" )

However, if we wanted to incorporate the risk levels onto the visualization, we can add some color identification by specifying the color discrete map. The downside is that it is no longer continuous and a little harder to understand since the levels change so dramatically.

In [70]:
import plotly.express as px

def AQI_Color_Plot(df, start, end, location):

    fig = px.scatter(df, x=df.index, y="aqi", color="risk_level",
                    title=f"Air Quality Index (AQI) in {location} from {start} to {end}",
                    labels={"aqi": "AQI", "timestamp": "Date"},
                    color_discrete_map={
                        "Excellent": "green",
                        "Good": "limegreen",
                        "Moderate": "orange",
                        "Poor": "orangered",
                        "Very Poor": "red"
                    })

    fig.update_traces(mode="lines+markers")
    fig.update_layout(yaxis_title="AQI", xaxis_title="Date")

    fig.show()
AQI_Color_Plot(df, "2025-01-01" ,"2025-01-06", "Tokyo" )

Now let's wrap everything into a function so that the parameters can be easily changed based on user input.

In [71]:
def create_df(lat, lon, start, end, location):
    API_KEY = "dc622205c25e4f765124ba4c03f370ba"
    LAT = lat
    LON = lon

    start = int(datetime.strptime(start, "%Y-%m-%d").timestamp())
    end = int(datetime.strptime(end, "%Y-%m-%d").timestamp())

    url = "http://api.openweathermap.org/data/2.5/air_pollution/history"
    params = {
        "lat": LAT,
        "lon": LON,
        "start": start,
        "end": end,
        "appid": API_KEY
    }

    response = requests.get(url, params=params)
    data = response.json()

    records = []
    for entry in data.get("list", []):
        ts = datetime.fromtimestamp(entry["dt"])
        aqi = entry["main"]["aqi"]
        components = entry["components"]
        components["timestamp"] = ts
        components["aqi"] = aqi
        records.append(components)

        df = pd.DataFrame(records)
        df.set_index("timestamp", inplace=True)
        
        def categorize_aqi(aqi):
            if aqi == 1:
                return "Excellent"
            elif aqi == 2:
                return "Good"
            elif aqi == 3:
                return "Moderate"
            elif aqi == 4:
                return "Poor"
            else:
                return "Very Poor"

    df["risk_level"] = df["aqi"].apply(categorize_aqi)

    print(df)
    AQI_Color_Plot(df, start, end, location )

## Example usage of our function for the specific location Los Angeles
Here we are using the coordinates of Los Angeles and observing the air quality between Jan. 5 and Jan. 10, 2025, which was during the wildfires in the Palisades and Eaton Canyon.

In [72]:
lat = 34.0549
lon = 118.2426
start_date = "2025-01-05" 
end_date = "2025-01-10" 
location = "Los Angeles"

df = create_df(lat, lon, start_date, end_date, location)
print(df)

                          co     no    no2     o3    so2   pm2_5    pm10  \
timestamp
2025-01-05 00:00:00  1735.69  29.95  58.95   0.00  15.74  173.36  225.51
2025-01-05 01:00:00  1642.23  29.50  61.01   0.00  14.78  173.32  217.93
2025-01-05 02:00:00  1562.12  29.50  63.75   0.00  14.90  175.63  215.06
2025-01-05 03:00:00  1482.01  28.61  67.17   0.00  15.50  178.79  215.36
2025-01-05 04:00:00  1415.25  25.70  70.60   0.00  16.45  187.26  221.11
...                      ...    ...    ...    ...    ...     ...     ...
2025-01-09 20:00:00   614.17   0.02  43.87  33.97  42.92   38.82   61.52
2025-01-09 21:00:00   620.84   0.02  44.55  32.54  44.82   38.22   61.39
2025-01-09 22:00:00   647.54   0.04  49.35  28.25  51.98   39.03   61.56
2025-01-09 23:00:00   754.36   0.14  61.69  17.70  62.94   47.53   71.75
2025-01-10 00:00:00   834.47   0.31  71.29  11.00  66.76   54.43   79.63

                      nh3  aqi risk_level
timestamp
2025-01-05 00:00:00  3.20    5  Very Poor
2025-01-05 01:00:00  2.03    5  Very Poor
2025-01-05 02:00:00  1.33    5  Very Poor
2025-01-05 03:00:00  0.81    5  Very Poor
2025-01-05 04:00:00  0.34    5  Very Poor
...                   ...  ...        ...
2025-01-09 20:00:00  6.46    3   Moderate
2025-01-09 21:00:00  7.16    3   Moderate
2025-01-09 22:00:00  7.41    3   Moderate
2025-01-09 23:00:00  8.61    3   Moderate
2025-01-10 00:00:00  9.88    4       Poor

[121 rows x 10 columns]

None

# Research Questions
Using this function, a user can pull specific data for an API and create a visualization on the air quality of a chosen location, as well as date range. This would allow them to answer the newly created sixth research question

6. Over the course of a specific time period in a certain area, how does the air quality change and fluctuate over a rating of 5?

This could help them consider whether urban vs rural areas experience different air quality. In addition, it might encourage the user to think about other factors affecting the air quality. For example, from the Los Angeles example, we can understand that a large reason for the bad air quality has to do with the wildfires that begun at the start of this year.

In the future, we can try using to classify pollution levels into health risk categories, such as “Low”, “Moderate”, or "Very Poor". We can do so by using pollutant concentrations as input and training a classifier like Logistic Regression, Decision Tree, or SVM.

This bring us to our seventh research question which is 

7. How we can try to classify pollution levels into health risk categories using pollutant concentrations?

# Week five goals
- Normalization techniques to account for differences in country size 
- Obtain World Population Dataset

## Normalization techniques to account for differences in country size
"This is likely due to their large size, which means that there is more surface area taken into account.” -> Would it be possible to apply some normalization techniques to account for differences in country size? -> answer: Great idea! We could try to find another data source that contains the country size and use data techniques to merge it together. Once we’ve prepared the data, we can perform normalization techniques by dividing the number of natural disasters with the corresponding country’s size.

## Obtain World Population Dataset
First thing, we want a dataset on the population of each country. By doing a Google Search, I was able to find one on Kaggle.

- <img src="Screenshot 2025-05-19 at 10.04.00 PM.png" alt="Image of a description of OpenWeather scale for Air Quality Index levels:"  height="300">

In [73]:
df_pop = pd.read_csv('world_population.csv')
df_pop

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

## Create and Use SQL Databases for Data Manipulation

So now, we have two seperate databases. One on EMDAT data and the other one containing information of different countries. Because our goal is to apply some normalization techniques to account for differences in country size, we want to use SQL to merge the two databases. Our first step is to import SQL and then start a connection. With this connection, we can convert the two df's into sql.

In [74]:
import sqlite3
conn = sqlite3.connect("pop.sqlite")

In [76]:

with sqlite3.connect("pop.sqlite") as conn:
    df_pop.to_sql("pop", conn, if_exists="replace", index=False)
    map_df.to_sql("emdat", conn, if_exists="replace", index=False)

In [ ]:
with sqlite3.connect("pop.sqlite") as conn:
    merged_df = pd.read_sql_query("""
        SELECT 
            e.*,
            p."Area (km²)",
        FROM 
            emdat e
        JOIN 
            pop p
        ON 
            LOWER(e.Country) = LOWER(p."Country/Territory")
    """, conn)

merged_df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Area (km²),deaths_normalized_by_country_size
0,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,7.0,2528.0,1760000.0,92479.0,1855007.0,73500.0,130056.0,56.514291,9706961,72.11
1,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1.0,2.0,10300.0,NaN,10302.0,483.0,855.0,56.514291,9706961,10.30
2,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,COL,Colombia,Latin America and the Caribbean,Americas,...,2.0,NaN,430.0,NaN,430.0,NaN,NaN,56.514291,1141748,175.17
3,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,45.0,270.0,NaN,52500.0,52770.0,30000.0,53084.0,56.514291,1904569,2362.74
4,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,103.0,2714.0,200000.0,2000.0,204714.0,41000.0,72548.0,56.514291,1904569,5408.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,126.0,188.0,46500.0,NaN,46688.0,NaN,NaN,NaN,9706961,1298.04
1128,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,ETH,Ethiopia,Sub-Saharan Africa,Africa,...,2.0,NaN,99000.0,NaN,99000.0,NaN,NaN,NaN,1104300,181.11
1129,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,MMR,Myanmar,South-eastern Asia,Asia,...,3784.0,4824.0,282790.0,NaN,287614.0,NaN,NaN,NaN,676578,559285.11
1130,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,THA,Thailand,South-eastern Asia,Asia,...,44.0,37.0,2313.0,NaN,2350.0,NaN,NaN,NaN,513120,8574.99
1131,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,TJK,Tajikistan,Central Asia,Asia,...,1.0,NaN,145.0,NaN,145.0,NaN,NaN,NaN,143100,698.81

## Visualization

Now we can create the new visualization, but this time, the deaths are normalized by the country size.

In [ ]:
disaster_counts = merged_df.groupby('Country').size().reset_index(name='disaster_count')

merged_df = merged_df.merge(disaster_counts, on='Country', how='left')

merged_df['disasters_normalized_by_size'] = round(
    merged_df['disaster_count'] / merged_df['Area (km²)'] * 100000, 2
)

In [95]:
merged_df

,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,...,Total Affected,Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Area (km²),deaths_normalized_by_country_size,disaster_count_x,disasters_per_100k_km2,disaster_count_y,disaster_count
0,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,1855007.0,73500.0,130056.0,56.514291,9706961,72.11,114,1.17,114,114
1,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,10302.0,483.0,855.0,56.514291,9706961,10.30,114,1.17,114,114
2,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,COL,Colombia,Latin America and the Caribbean,Americas,...,430.0,NaN,NaN,56.514291,1141748,175.17,18,1.58,18,18
3,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,52770.0,30000.0,53084.0,56.514291,1904569,2362.74,101,5.30,101,101
4,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,IDN,Indonesia,South-eastern Asia,Asia,...,204714.0,41000.0,72548.0,56.514291,1904569,5408.05,101,5.30,101,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,CHN,China,Eastern Asia,Asia,...,46688.0,NaN,NaN,NaN,9706961,1298.04,114,1.17,114,114
1128,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,ETH,Ethiopia,Sub-Saharan Africa,Africa,...,99000.0,NaN,NaN,NaN,1104300,181.11,10,0.91,10,10
1129,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,MMR,Myanmar,South-eastern Asia,Asia,...,287614.0,NaN,NaN,NaN,676578,559285.11,13,1.92,13,13
1130,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,THA,Thailand,South-eastern Asia,Asia,...,2350.0,NaN,NaN,NaN,513120,8574.99,21,4.09,21,21
1131,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,TJK,Tajikistan,Central Asia,Asia,...,145.0,NaN,NaN,NaN,143100,698.81,9,6.29,9,9

In [ ]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default="iframe"

fig = px.scatter(
    merged_df.query('disaster_count'),
    x="Country",
    y="disaster_count",
    size="disasters_normalized_by_size",
    color="Country",
    hover_name="Country",
    log_y=True, 
    size_max=100,
    title="Number of Disaster Types by Country"
)

fig.show()

## Let's revist our first research question
Now that we normalized the disaster count by size of the country, we can take a second look at the research question.
1. "Which countries have experienced the highest number of natural disasters?" 
- We'll need to investigate variables on countries, when it occured, and type of disaster

## Analysis of first research question
From this visualization, we can see that Rwanda, El Savador, and the Philippines have experienced the highest number of natural disasters per 100,000 squared km. Comparing this with the original visualization, we can see that there are differences in the coutnries with the highest numebr of natural diasters where we previously found India, China, and the USA noteworthy due to their large size.